 
/* ========================================================== */
/* 			                Intro Page         */
/* ========================================================== */


.demos-icon img {
    height: 25px;
    float: right;
    opacity: 0;
    transition: .5s;
  }
  .demos-link:hover img {
    opacity: 1;
    transition: .5s;
  }
  
  .demos-images {
    transition: 0.4s;
    border-radius: 20px;
  }
  .demos-images img {
    border-radius: 20px !important;
  }
  .demos-images:hover {
    transform: translateY(-15px);
    transition: 0.4s;
  }
  .demos-countent {
    padding: 40px;
    box-shadow: 0px 0px 15px 0px hsla(0, 0%, 0%, 0.05);
    border-radius: 20px;
  
  }