
  <div class="col-md-6 col-lg-4 col-xl-3 blog">
    <div class="blog-box mt-4" data-aos="fade-up">
            <div class="blog-image"><img src="assets/images/blog/4.jpg" alt="title"></div>
            <div class="blog-content">
              <div class="blog-author mb-3"><img src="assets/images/author/4.jpg" alt="title"><a href="author.html">Esther Howard</a></div>
                <h5 class="mb-3"><a class="text-white" href="single.html">The millionaire guide on pizza to help you get rich</a></h5>
                <a href="category.html" class="btn btn-outline-light btn-sm">Nature</a>
            </div>
      </div>
  </div>
<div class="col-md-6 col-lg-4 col-xl-3 blog">
    <div class="blog-box mt-4" data-aos="fade-down">
            <div class="blog-image"><img src="assets/images/blog/1.jpg" alt="title"></div>
            <div class="blog-content">
              <div class="blog-author mb-3"><img src="assets/images/author/1.jpg" alt="title"><a href="author.html">Cody Fisher</a></div>
                <h5 class="mb-3"><a class="text-white" href="single.html">15 things you need to know about pizza today</a></h5>
                <a href="category.html" class="btn btn-outline-light btn-sm">Interior</a>
            </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 blog">
    <div class="blog-box mt-4" data-aos="fade-up">
            <div class="blog-image"><img src="assets/images/blog/2.jpg" alt="title"></div>
            <div class="blog-content">
              <div class="blog-author mb-3"><img src="assets/images/author/2.jpg" alt="title"><a href="author.html">Wade Warren</a></div>
                <h5 class="mb-3"><a class="text-white" href="single.html">Ten useful tips from experienced pizza veteran</a></h5>
                <a href="category.html" class="btn btn-outline-light btn-sm">Nature</a>
            </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 blog">
    <div class="blog-box mt-4" data-aos="fade-down">
            <div class="blog-image"><img src="assets/images/blog/3.jpg" alt="title"></div>
            <div class="blog-content">
              <div class="blog-author mb-3"><img src="assets/images/author/3.jpg" alt="title"><a href="author.html">Jacob Jones</a></div>
                <h5 class="mb-3"><a class="text-white" href="single.html">Why pizza had been so popular till now?</a></h5>
                <a href="category.html" class="btn btn-outline-light btn-sm">Updates</a>
            </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 blog">
    <div class="blog-box mt-4" data-aos="fade-up">
            <div class="blog-image"><img src="assets/images/blog/4.jpg" alt="title"></div>
            <div class="blog-content">
              <div class="blog-author mb-3"><img src="assets/images/author/4.jpg" alt="title"><a href="author.html">Esther Howard</a></div>
                <h5 class="mb-3"><a class="text-white" href="single.html">The millionaire guide on pizza to help you get rich</a></h5>
                <a href="category.html" class="btn btn-outline-light btn-sm">Nature</a>
            </div>
      </div>
  </div>