<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/1.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Green Star Fast Food
            New york, USA</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/2.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Meat Lovers Rejoice</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/3.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Dining Divas</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/4.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Roadside Pickups</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/5.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Serious Service</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/6.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Roadside Pickups</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/7.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Perfect Setting</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/8.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Love Shack Foods</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/9.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Green Star Fast Food
            New york, USA</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/10.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Meat Lovers Rejoice</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/11.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Dining Divas</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 shop">
  <div class="shop-box mt-3" data-aos="fade">
  <div class="shop-wrapper">
      <div class="shop-image"><img src="assets/images/shop/12.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
      <div class="shop-content">
           <h5><a href="single-shop.html">Roadside Pickups</a></h5>
            <p class=" m-0">Pizza, Desserts, Asian</p>
      </div>
      </div>
      <div class="shop-bottom">
        <span class="delivery-fee">Delivery Fee  : $10</span>
        <div class="rating-star text-primary ">4.00 /5</div>
      </div> 
  </div>
</div>
