
<div class="col-sm-6 col-lg-4 col-xl-3 team">
    <div class="team-box mt-3" data-aos="fade">
        <img src="assets/images/team/3.jpg" alt="title">
        <div class="team-zoom"> <a href="assets/images/team/3.jpg" class="team-plus image-popup"><img src="assets/images/team-plus.svg" alt="title"></a></div>
        <div class="team-content">
            <h5 class="text-primary m-0">Mit Vergnügen</h5>
            <span class="">Pizza Maker</span>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 team">
    <div class="team-box mt-3" data-aos="fade">
        <img src="assets/images/team/4.jpg" alt="title">
        <div class="team-zoom"> <a href="assets/images/team/4.jpg" class="team-plus image-popup"><img src="assets/images/team-plus.svg" alt="title"></a></div>
        <div class="team-content">
            <h5 class="text-primary m-0">Jane Cooper</h5>
            <span class="">Pizza Maker</span>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 team">
    <div class="team-box mt-3" data-aos="fade">
        <img src="assets/images/team/5.jpg" alt="title">
        <div class="team-zoom"> <a href="assets/images/team/5.jpg" class="team-plus image-popup"><img src="assets/images/team-plus.svg" alt="title"></a></div>
        <div class="team-content">
            <h5 class="text-primary m-0">Radio Bremen</h5>
            <span class="">Pizza Maker</span>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 team">
    <div class="team-box mt-3" data-aos="fade">
        <img src="assets/images/team/6.jpg" alt="title">
        <div class="team-zoom"> <a href="assets/images/team/6.jpg" class="team-plus image-popup"><img src="assets/images/team-plus.svg" alt="title"></a></div>
        <div class="team-content">
            <h5 class="text-primary m-0">Giulia Becker</h5>
            <span class="">Pizza Maker</span>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 team">
    <div class="team-box mt-3" data-aos="fade">
        <img src="assets/images/team/7.jpg" alt="title">
        <div class="team-zoom"> <a href="assets/images/team/7.jpg" class="team-plus image-popup"><img src="assets/images/team-plus.svg" alt="title"></a></div>
        <div class="team-content">
            <h5 class="text-primary m-0">Auf die Ohren</h5>
            <span class="">Pizza Maker</span>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3 team">
    <div class="team-box mt-3" data-aos="fade">
        <img src="assets/images/team/8.jpg" alt="title">
        <div class="team-zoom"> <a href="assets/images/team/8.jpg" class="team-plus image-popup"><img src="assets/images/team-plus.svg" alt="title"></a></div>
        <div class="team-content">
            <h5 class="text-primary m-0">Jane Cooper</h5>
            <span class="">Pizza Maker</span>
        </div>
    </div>
</div>