<!DOCTYPE html>
<html lang="en" data-color="light"> 

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>The Dining Discount</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/favicon.png" type="images/x-icon" />
  <!-- gulp:css -->
  <link rel="stylesheet" href="assets/css/app.min.css"> 
  <!-- endgulp -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Rajdhani:wght@600;700&display=swap" rel="stylesheet">

</head>

<body> 
  <!--  ====================== Header Area =============================  -->
  <header class="header-area header-home py-2">
      <div class="container">
        <div class="header-navbar navbar navbar-expand-lg">
          <a class="navbar-brand" href="index.html"><img src="assets/images/brand-logo.svg" alt="images"></a>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <nav class="header-navbar-mobile m-auto">
              <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link active" href="index.html">Home</a></li>
                <li class="nav-item">
                  <a class="nav-link toogler" href="#"> Pages </a>
                  <ul class="dropdown-menu"> 
                    <li><a class="dropdown-item" href="about.html">About</a></li>
                    <li><a class="dropdown-item toogler" href="#"> Restaurants </a> 
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="restaurant.html">Restaurant</a></li>
                        <li><a class="dropdown-item" href="restaurant2.html">Restaurant 3 Col</a></li>
                        <li><a class="dropdown-item" href="single-restaurant.html">Restaurant Details
                        </a></li>
                      </ul>
                  </li>
                    <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                    <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
                    <li><a class="dropdown-item" href="our-chef.html">Our Chefs</a></li>
                    <li><a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a></li>
                    <li><a class="dropdown-item" href="term.html">Term & Condition</a></li>
                    <li><a class="dropdown-item" href="404.html">404</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link toogler" href="#"> Shops </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="shop.html">Shop</a></li>
                    <li><a class="dropdown-item" href="single-product.html">Product Details</a></li>
                    <li><a class="dropdown-item" href="cart.html">Cart</a></li>
                    <li><a class="dropdown-item" href="wishlist.html">Wishlist</a></li>
                    <li><a class="dropdown-item" href="product-compare.html">Compare Products</a></li>
                    <li><a class="dropdown-item" href="order-complete.html">Order Complete</a></li>
                    <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link toogler" href="#"> Blog </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="blog.html">Pizza Blog</a></li>
                    <li><a class="dropdown-item" href="single.html">Blog Details</a></li>
                    <li><a class="dropdown-item" href="author.html">Author</a></li>
                    <li><a class="dropdown-item" href="category.html">Category</a></li>
                  </ul>
                </li>
                <li class="nav-item"> <a class="nav-link" href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <ul class="header-rightbar list-inline">
              <li class="d-none d-xl-block">
                 <a href="#">
                    <span class="text-secondary custom-font">Call for order</span>
                    <h6 class="display-6 fs-5 text-primary m-0">(123)-000-000
                    </h6>
                  </a>
              </li>
              <li>
                 <button class="header-cart"><span class="count">3</span><img src="assets/images/header-cart.svg" alt="title"></button>
              </li>
              <li>
                <a class="nav-link search-icon" href="#" data-bs-toggle="modal" data-bs-target="#headermodal"><img src="assets/images/search-icon.svg" alt="title"></a>
              </li>
          </ul>
        </div>
   </div> 
</header>
  <!-- Modal -->
  <div class="modal fade" id="headermodal">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="container">
      <div class="container-wrapper">
        <div class="modal-body">
          <div class="headermodal-form">
            <form action="#">
                <span><img src="assets/images/search-header-form.svg" alt="title"></span>
                <input type="text" class="form-control" placeholder="Search">
            </form>
            <div class="search-close" data-bs-dismiss="modal">
                  <img src="assets/images/cancel.svg" alt="title">
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
   <!-- Sidebar -->
  <div id="sidebar-navbar">
        <div class="sidebar-cart-top">
            <h5 class="m-0">Shopping Cart</h5>
            <button class="sidebar-close"><img src="assets/images/cancel.svg" alt="title"></button>
        </div>
        <div class="sidebar-item-view">
        <div class="sidebar-cart-item">
            <img src="assets/images/product/1.png" alt="title">
            <div class="cart-content">
                <p class="m-0">Mushroom pizza</p>
                <span>1 * $18</span>
            </div>
            <span class="cart-close"><img src="assets/images/cancel.svg" alt="title"></span>
        </div>
        <div class="sidebar-cart-item">
            <img src="assets/images/product/2.png" alt="title">
            <div class="cart-content">
                <p class="m-0">Chicken Pizza</p>
                <span>1 * $8</span>
            </div>
            <span class="cart-close"><img src="assets/images/cancel.svg" alt="title"></span>
        </div>
        <div class="sidebar-cart-item last-cart">
            <img src="assets/images/product/7.png" alt="title">
            <div class="cart-content">
                <p class="m-0">Sauce Pizza</p>
                <span>2 * $5</span>
            </div>
            <span class="cart-close"><img src="assets/images/cancel.svg" alt="title"></span>
        </div>
        </div>
        <div class="sidebar-cart-bottom">
          <div class="sidebar-cart-total">
                  <h6 class="m-0">SUBTOTAL</h6>
                  <h6 class="m-0">$36</h6>
            </div>
            <a href="checkout.html" class="btn btn-primary w-100 mb-2">checkout</a>
            <a href="cart.html" class="btn btn-outline-primary w-100">View Cart</a>
        </div>
  
  </div>

  <!--  ====================== Hero Area =============================  -->
<div class="hero-area hero-home position-relative overflow-hidden bg-gradient">
  <div class="hero-icon-shape" >
    <div class="hero-shape-item shape-1">
      <img src="assets/images/shape/1.svg" alt="title">
    </div>
    <div class="hero-shape-item shape-2">
      <img src="assets/images/shape/2.svg" alt="title">
    </div>
    <div class="hero-shape-item shape-3">
      <img src="assets/images/shape/3.svg" alt="title">
    </div>
    <div class="hero-shape-item shape-4">
      <img src="assets/images/shape/4.svg" alt="title">
    </div>
    <div class="hero-shape-item shape-5">
      <img src="assets/images/shape/5.svg" alt="title">
    </div>
    <div class="hero-shape-item shape-6">
      <img src="assets/images/shape/6.svg" alt="title"> 
    </div>
    <div class="hero-shape-item shape-7">
        <img src="assets/images/shape/7.svg" alt="title">
    </div>
    <div class="hero-shape-item shape-8">
        <img src="assets/images/shape/8.svg" alt="title">
    </div>
    <div class="hero-shape-item shape-9">
        <img src="assets/images/shape/9.svg" alt="title">
    </div>
</div>
    <div class="hero-wrapper hero-box-shape my-9 my-lg-10"> 
    <div class="container"> 
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
            <div class="hero-image text-center text-lg-start mb-5 mb-lg-0"><img data-aos="fade-right" src="assets\images\pexels-vincent-rivaud-2233348-modified.png" alt="title"></div>
        </div>
        <div class="col-lg-6">
            <div class="hero-content text-center text-lg-start me-xl-8 order-lg-12">
                <h5 class="hero-badge bg-primary mb-5"> Fastest Delivery Guaranteed</h5>
                <h1 class="display-1 mb-4 mb-md-5 fw-bold">
                  Welcome to  <span class="text-primary">The Dining Discount</span> Restaurant
                </h1>
                <p class="mb-4 mb-md-5">Get 10% instant off for all order and $200 signup bonus today for new registration!</p>
                <div class="hero-button">
                    <a href="#" class="hero-btn me-1 mb-2"><img src="assets/images/play-store.svg" alt="title"></a>
                    <a href="#" class="hero-btn me-1 mb-2"><img src="assets/images/apps-store.svg" alt="title"></a>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>

</div>
  <!--  ====================== Shop Area =============================  -->
  <!--  ====================== Shop Area =============================  -->
<div class="shop-area mb-lg-11 mb-8 mt-lg-9 mt-6">
    <div class="container">
      <div class="mb-2 mb-lg-4 d-md-flex justify-content-between align-items-center">
        <div class="section-title">
          <h3 class="display-3 mb-3 mb-md-0 fw-bold">Restaurants that Happily Tied-With US</h3>
         </div>
         <a href="shop.html" class="view-all">View All</a>
      </div>
       <div class="row">
          <div class="col-sm-6 col-lg-4 col-xl-4">
              <div class="shop-box mt-3" data-aos="fade">
              <div class="shop-wrapper">
                  <div class="shop-image"><img src="assets\images\Bowdoin-College-8-min - Copy.jpg" alt="title">
                    <span class="badge bg-success"><img src="assets/images/free-delivery.svg" alt="FREE DELIVERY">FREE DELIVERY</span>
                  </div>
                  <div class="shop-content">
                       <h4><a href="single-restaurant.html">Star Hotel
                        </a></h4>
                        <p class="m-0">Pizza, Desserts, Asian,Italian</p>
                  </div>
                  </div>
                  <div class="shop-bottom">
                    <span class="fw-bold">Delivery Fee  : $10</span>
                    <div class="rating-star text-primary ">5.00 /5</div>
                  </div> 
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-4">
              <div class="shop-box mt-3" data-aos="fade">
              <div class="shop-wrapper">
                  <div class="shop-image"><img src="assets\images\BURGERKING (1).jpeg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">5% OFF</span></div>
                  <div class="shop-content">
                       <h4><a href="single-restaurant.html">Burger King</a></h4>
                        <p class=" m-0">Pizza, Desserts, FastFoods, Sandwitches, Burgers</p>
                  </div>
                  </div>
                  <div class="shop-bottom">
                    <span class="delivery-fee">Delivery Fee  : $10</span>
                    <div class="rating-star text-primary ">4.90 /5</div>
                  </div> 
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-4">
              <div class="shop-box mt-3" data-aos="fade">
              <div class="shop-wrapper">
                  <div class="shop-image"><img src="assets\images\pexels-donald-tong-189296.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">15% OFF</span></div>
                  <div class="shop-content">
                       <h4><a href="single-restaurant.html">Dining Divas</a></h4>
                        <p class=" m-0">Pizza, Desserts, Asian</p>
                  </div>
                  </div>
                  <div class="shop-bottom">
                    <span class="delivery-fee">Delivery Fee  : $10</span>
                    <div class="rating-star text-primary ">5.00 /5</div>
                  </div> 
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-4">
              <div class="shop-box mt-3" data-aos="fade">
              <div class="shop-wrapper">
                  <div class="shop-image"><img src="assets\images\pexels-engin-akyurt-1579253.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">20% OFF</span></div>
                  <div class="shop-content">
                       <h4><a href="single-restaurant.html">Roadside Pickups</a></h4>
                        <p class=" m-0">Pizza, Desserts, Asian</p>
                  </div>
                  </div>
                  <div class="shop-bottom">
                    <span class="delivery-fee">Delivery Fee  : $10</span>
                    <div class="rating-star text-primary ">5.00 /5</div>
                  </div> 
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-4">
              <div class="shop-box mt-3" data-aos="fade">
              <div class="shop-wrapper">
                  <div class="shop-image"><img src="assets\images\pexels-francesco-ungaro-96444.jpg" alt="title">
                    <span class="badge bg-success"><img src="assets/images/free-delivery.svg" alt="FREE DELIVERY">FREE DELIVERY</span></div>
                  <div class="shop-content">
                       <h4><a href="single-restaurant.html">Serious Food</a></h4>
                        <p class=" m-0">Pizza, Desserts, Asian</p>
                  </div>
                  </div>
                  <div class="shop-bottom">
                    <span class="delivery-fee">Delivery Fee  : $10</span>
                    <div class="rating-star text-primary ">4.98 /5</div>
                  </div> 
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-4">
              <div class="shop-box mt-3" data-aos="fade">
              <div class="shop-wrapper">
                  <div class="shop-image"><img src="assets\images\pexels-konstantinos-eleftheriadis-2034335.jpg" alt="title"> <span class="badge bg-success"><img src="assets/images/free-delivery.svg" alt="FREE DELIVERY">FREE DELIVERY</span></div>
                  <div class="shop-content">
                       <h4><a href="single-restaurant.html">Roadside Dine</a></h4>
                        <p class=" m-0">Pizza, Desserts, Asian</p>
                  </div>
                  </div>
                  <div class="shop-bottom">
                    <span class="delivery-fee">Delivery Fee  : $10</span>
                    <div class="rating-star text-primary ">5.00 /5</div>
                  </div> 
              </div>
          </div> 
          <div class="col-sm-6 col-lg-4 col-xl-4">
              <div class="shop-box mt-3" data-aos="fade">
              <div class="shop-wrapper">
                  <div class="shop-image"><img src="assets\images\pexels-pixabay-53464.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">25% OFF</span></div>
                  <div class="shop-content">
                       <h4><a href="single-restaurant.html">Perfect Setting</a></h4>
                        <p class=" m-0">Pizza, Desserts, Asian</p>
                  </div>
                  </div>
                  <div class="shop-bottom">
                    <span class="delivery-fee">Delivery Fee  : $10</span>
                    <div class="rating-star text-primary ">4.75 /5</div>
                  </div> 
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-4">
              <div class="shop-box mt-3" data-aos="fade">
              <div class="shop-wrapper">
                  <div class="shop-image"><img src="assets\images\pexels-pixabay-258154.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">35% OFF</span></div>
                  <div class="shop-content">
                       <h4><a href="single-restaurant.html">Love Shack</a></h4>
                        <p class=" m-0">Pizza, Desserts, Asian</p>
                  </div>
                  </div>
                  <div class="shop-bottom">
                    <span class="delivery-fee">Delivery Fee  : $10</span>
                    <div class="rating-star text-primary ">4.85 /5</div>
                  </div> 
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-4">
              <div class="shop-box mt-3" data-aos="fade">
              <div class="shop-wrapper">
                  <div class="shop-image"><img src="assets\images\pexels-pixabay-261102.jpg" alt="title"><span class="badge bg-primary"><img src="assets/images/shop-badge-icon.svg" alt="title">35% OFF</span></div>
                  <div class="shop-content">
                       <h4><a href="single-restaurant.html">Mad Pizza</a></h4>
                        <p class=" m-0">Cold Bevarages, Desserts, Pizza</p>
                  </div>
                  </div>
                  <div class="shop-bottom">
                    <span class="delivery-fee">Delivery Fee  : $10</span>
                    <div class="rating-star text-primary ">5.00 /5</div>
                  </div> 
              </div>
          </div>

        </div>
    </div>
</div>
  <!--  ====================== Order Area =============================  -->
<div class="order-step-area my-lg-11 my-8">
    <div class="container">
      <div class="section-title text-center mb-2 mb-lg-8">
          <h3 class="separator display-3 fw-bold">3 Steps Delivery</h3>
      </div>
      <div class="order-step-wrapper">
      <div class="row g-lg-0">
        <div class="col-md-6 col-lg-4">
            <div class="order-step-box border-end text-center mt-3 mt-lg-0">
                 <div class="order-step-icon mb-4"><img src="assets/images/order-step-icon1.svg" alt="title"></div>
                 <div class="order-step-content">
                      <h4 class="mb-2">Choose  your food</h4>
                      <p class="m-0">The wanted wow statement pile a windshield we a often for to tried met. </p>
                 </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="order-step-box border-end text-center mt-3 mt-lg-0">
                 <div class="order-step-icon mb-4"><img src="assets/images/order-step-icon2.svg" alt="title"></div>
                 <div class="order-step-content">
                      <h4 class="mb-2">Pay your bill</h4>
                      <p class="m-0">Then the one a pervasively hell a an it I higher a some back material didn't rationally.</p>
                 </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="order-step-box text-center mt-3 mt-lg-0">
                 <div class="order-step-icon mb-4"><img src="assets/images/order-step-icon3.svg" alt="title"></div>
                 <div class="order-step-content">
                      <h4 class="mb-2">Get the delivery</h4>
                      <p class="m-0">Even supported their not depend be and of when we the might offering were this ridden.
                        </p>
                 </div>
            </div>
        </div>
      </div>
      </div>
    </div>
</div>


  <!--  ====================== Order Area =============================  -->
<div class="order-area order-box-shape mt-lg-11 mt-8 pb-lg-11 pb-8">
    <div class="container">
      <div class="section-title text-center mb-2 mb-lg-4">
        <h3 class="separator display-3 fw-bold">Fastest Delivery</h3>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6 offset-md-1 order-md-1">
             <div class="order-outline-box mt-3">
                  <div class="order-outline-icon"><img src="assets/images/order-outline-con1.svg" alt="title"></div>
                  <div class="order-outline-content">
                     <h4>Find nearest Restaurants</h4>
                     <p class="m-0">One with to of and behave. That onto and she desires a concept of through with when reached will so you </p>
                  </div>
             </div>
             <div class="order-outline-box mt-3">
                  <div class="order-outline-icon"><img src="assets/images/order-outline-con2.svg" alt="title"></div>
                  <div class="order-outline-content">
                     <h4>Order food from menu</h4>
                     <p class="m-0">One with to of and behave. That onto and she desires a concept of through with when reached will so you </p>
                  </div>
             </div>
             <div class="order-outline-box mt-3">
                  <div class="order-outline-icon"><img src="assets/images/order-outline-con3.svg" alt="title"></div>
                  <div class="order-outline-content">
                     <h4>Pay your food bill</h4>
                     <p class="m-0">One with to of and behave. That onto and she desires a concept of through with when reached will so you </p>
                  </div>
             </div>
             <div class="order-outline-box mt-3">
                  <div class="order-outline-icon"><img src="assets/images/order-outline-con4.svg" alt="title"></div>
                  <div class="order-outline-content">
                     <h4>Get delivery within  50 mins</h4>
                     <p class="m-0">One with to of and behave. That onto and she desires a concept of through with when reached will so you </p>
                  </div>
             </div>
        </div>
        <div class="col-md-5 order-md-12">
          <div class="order-icon-shape" >
             <div class="order-shape-item shape-1">
               <img src="assets/images/shape/10.svg" alt="title">
             </div>
             <div class="order-shape-item shape-2">
               <img src="assets/images/shape/10.svg" alt="title">
             </div>
             <div class="order-shape-item shape-3">
               <img src="assets/images/shape/11.svg" alt="title">
             </div>
             <div class="order-shape-item shape-4">
               <img src="assets/images/shape/10.svg" alt="title">
             </div>
         </div>
        <div class="order-delivery-man"><img data-aos="fade-up" src="assets/images/delivery-image.png" alt="title"></div>
     </div>
      </div>
    </div>
</div>


  <!--  ====================== Call To Action Area =============================  -->
<div class="call-to-action-area py-lg-11 py-8 bg-dark">
    <div class="container">
    <div class="row">
    <div class="col-md-8 m-auto">
         <div class="call-to-action-content text-center">
             <span class="badge bg-success mb-1">FREE DELIVERY</span>
             <h2 class="display-2 text-white mb-2 fw-bold">Cheese Pizza Available</h2>
             <p class=" text-white mb-5">That he high longer even sitting more the was agency; Law, does thin for a details warp</p>
             <a href="shop.html" class="btn btn-primary"><img src="assets/images/join-icon-1.svg" alt="title"> Find Restaurant</a>
         </div> 
    </div>
    </div>
    </div>
</div>


  <!--  ====================== About Area =============================  -->
<div class="about-area about-box-shape my-lg-11 my-8 mt-10">
    <div class="container">
           <div class="row align-items-center">
             <div class="col-lg-6 order-lg-1">
                  <div class="about-image mb-5 mb-lg-0">
                    <svg width="645" height="573" viewBox="0 0 645 573" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                      <clipPath id="user-space" clipPathUnits="userSpaceOnUse">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M299.79 572.706C151.967 571.536 37.1412 465.687 4.34559 343.887C-21.1423 249.227 88.36 184.899 179.355 125.418C281.353 58.7437 393.956 -38.5687 504.663 16.8404C634.916 82.0325 670.785 226.423 625.68 348.804C579.665 473.653 454.359 573.929 299.79 572.706Z" fill="#C4C4C4"/>
                    </clipPath></defs>
                      <image width="100%" height="100%" preserveAspectRatio="xMinYMin slice" xlink:href="assets/images/about-image.jpg" clip-path="url(#user-space)"/>
                      </svg>
                      <div class="about-btn call-center btn bg-white rounded">
                        <div class="phonering">
                          <div class="phonering-circle"></div>
                            <div class="phonering-circle-fill"></div>
                            <div class="phonering-circle-icon"></div>
                          </div>
                          <div class="ms-1">
                            <span class="fw-normal">CALL FOR ORDER</span>
                            <h3 class="display-6 m-0 fw-bold">1 (789) 00123</h3>
                          </div>
                        </div>
                      <div class="about-btn buy-now btn bg-white">
                          <img src="assets/images/badge-icon-pizza.svg" alt="title">
                          <div class="ms-1">
                            <span class="fw-normal">BUY 1 PIZZA NOW
                            </span>
                            <h3 class="display-6 m-0 fw-bold">GET 1 FREE
                            </h3>
                          </div>
                        </div>
                  </div>
              </div>
             <div class="col-lg-6 order-lg-12">
                 <div class="about-content me-md-3">
                      <h2 class="display-3 mb-3 fw-bold">We Hate Late!</h2>
                      <p class="fs-5 mb-3">Pizza delivery is a huge industry and Petuk is the most established company in this sector. </p>
                      <p class="mb-1">Due to our experience in this industry and our wide customer base, we are offering our customers a complete service. </p>
                      <ul class="about-list">
                          <li>The let design still holding shudder</li>
                          <li>Have himself quietly doubting to the its  </li>
                          <li> Parents started of with to college remember</li>
                          <li>Have himself quietly doubting to the its to bear attentive</li>
                          
                      </ul>
                 </div>
             </div>
           </div>
    </div>
</div>
  <!--  ====================== Blog Area =============================  -->
<div class="blog-area py-lg-11 py-8 bg-light">
    <div class="container">
      <div class="section-title text-center mb-2 mb-lg-4">
        <h3 class="separator display-3 fw-bold">Latest News</h3>
      </div>
      <div class="row infinite-container">
        <div class="col-md-6 col-lg-4 col-xl-3 blog">
          <div class="blog-box mt-3" data-aos="fade-down">
                  <div class="blog-image"><img src="assets/images/blog/1.jpg" alt="title"></div>
                  <div class="blog-content">
                    <div class="blog-author mb-2"><img src="assets/images/author/1.jpg" alt="title"><a href="author.html">Cody Fisher</a></div>
                      <h5 class="mb-2"><a class="text-white" href="single.html">15 things you need to know about pizza today</a></h5>
                      <a href="category.html" class="btn btn-outline-light btn-sm">Interior</a>
                  </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 blog">
          <div class="blog-box mt-3" data-aos="fade-up">
                  <div class="blog-image"><img src="assets/images/blog/2.jpg" alt="title"></div>
                  <div class="blog-content">
                    <div class="blog-author mb-2"><img src="assets/images/author/2.jpg" alt="title"><a href="author.html">Wade Warren</a></div>
                      <h5 class="mb-2"><a class="text-white" href="single.html">Ten useful tips from experienced pizza veteran</a></h5>
                      <a href="category.html" class="btn btn-outline-light btn-sm">Nature</a>
                  </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 blog">
          <div class="blog-box mt-3" data-aos="fade-down">
                  <div class="blog-image"><img src="assets/images/blog/3.jpg" alt="title"></div>
                  <div class="blog-content">
                    <div class="blog-author mb-2"><img src="assets/images/author/3.jpg" alt="title"><a href="author.html">Jacob Jones</a></div>
                      <h5 class="mb-2"><a class="text-white" href="single.html">Why pizza had been so popular till now?</a></h5>
                      <a href="category.html" class="btn btn-outline-light btn-sm">Updates</a>
                  </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 blog"> 
          <div class="blog-box mt-3" data-aos="fade-up">
                  <div class="blog-image"><img src="assets/images/blog/4.jpg" alt="title"></div>
                  <div class="blog-content">
                    <div class="blog-author mb-2"><img src="assets/images/author/4.jpg" alt="title"><a href="author.html">Esther Howard</a></div>
                      <h5 class="mb-2"><a class="text-white" href="single.html">The millionaire guide on pizza to help you get rich</a></h5>
                      <a href="category.html" class="btn btn-outline-light btn-sm">Nature</a>
                  </div>
            </div>
        </div>
      </div>
      <div class="text-center mt-5 mt-lg-7"><a href="#" class="btn btn-sm btn-primary load-more-btn"><img src="assets/images/load-more.svg" alt="title"> LOAD MORE POSTS</a></div>
    </div>
</div>


  <!--  ====================== Join Us Area =============================  -->
<div class="join-us-area my-lg-11 my-8">
    <div class="container">
      <div class="section-title text-center mb-2 mb-lg-4">
        <h3 class="separator display-3 fw-bold">Join as Partner</h3>
      </div>
      <div class="row">
        <div class="col-lg-6">
            <div class="join-us-box pt-3" data-aos="fade-down">
            <div class="join-us-wrapper text-center d-flex">
                 <div class="join-us-img"><img src="assets/images/join-us-1.jpg" alt="title"></div>
                 <div class="join-us-content text-start p-5 py-7 d-flex align-items-center">
                   <div class="join-us-content-inner">

                    <h4 class="mb-2">Become a vendor</h4>
                    <p class="mb-3">To become a vendor, start by visiting the office to find out what permits or licenses.</p>
                    <a href="open-vendor.html" class="btn btn-primary btn-sm ">  Open a shop</a>
             
                   </div>
                 </div>
                
            </div>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="join-us-box pt-3" data-aos="fade-down">
            <div class="join-us-wrapper text-center d-flex">
                 <div class="join-us-img"><img src="assets/images/join-us-2.jpg" alt="title"></div>
                 <div class="join-us-content text-start p-5 py-7 d-flex align-items-center">
                   <div class="join-us-content-inner">

                    <h4 class="mb-2">Become a Delivery Hero</h4>
                      <p class="mb-3">You'll be on a mission with us to create amazing takeaway experiences  </p>
                      <a href="become-hero.html" class="btn btn-primary btn-sm ">  Become a Hero</a>
             
                   </div>
                 </div>
                
            </div>
            </div>
             
        </div>
        </div>
    </div>
</div>



 <!--  ====================== Company Area =============================  -->
 <div class="company-area my-8 my-lg-11">
     <div class="container">
         <div class="company-slider">
              <div class="company-logo"><a href="#"><img src="assets/images/company/1.png" alt="title"></a></div>
              <div class="company-logo"><a href="#"><img src="assets/images/company/2.png" alt="title"></a></div>
              <div class="company-logo"><a href="#"><img src="assets/images/company/3.png" alt="title"></a></div>
              <div class="company-logo"><a href="#"><img src="assets/images/company/4.png" alt="title"></a></div>
              <div class="company-logo"><a href="#"><img src="assets/images/company/1.png" alt="title"></a></div>
          </div>
     </div>
 </div>

 <!--  ====================== Newsletter Area =============================  -->
 <div class="newsletter-area my-8 my-lg-11">
     <div class="container">
          <div class="newsletter-box">
              <div class="row align-items-center">
                <div class="col-lg-3">
                  <div class="newsletter-image text-center text-lg-start mb-4 mb-lg-0" data-aos="fade-up"><img src="assets/images/subscribe-image.png" alt="title"></div>
                </div>
                <div class="col-lg-9">
                  <div class="newsletter-content text-center text-lg-start ps-md-5">
                    <h3 class="display-4 mb-3 fw-bold fw-bold">Subscribe For Pizza Offer</h3>
                    <p class="mb-2 mb-md-5">Please join our exclusinve and private member group where we offer exciting pizza offer every week. So don't miss it and subscribe now for your next pizza offer.</p>
                    <form class="newsletter-form mb-2" action="#">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter your email">
                        <button class="btn btn-primary" type="button">SUBSCRIBE</button>
                      </div>
                    </form>
                    <p class="small m-0">We hate spam and your email protected by us!</p>
                  </div>
                </div>
              </div>
          </div>
     </div>
 </div>
 <!--  ====================== Footer Area =============================  -->
 <footer class="footer-area position-relative my-8 my-lg-11">
  <a href="#" class="footer-back"><svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 9L9 1L17 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
     <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <a href="index.html" class="footer-logo mb-md-2"><img src="assets/images/brand-logo.svg" alt="title"></a>
              <div class="footer-widget mt-3 mt-md-0">
                  <ul class="footer-list list-inline mb-4 mb-lg-10">
                    <li class="list-inline-item me-4"><a href="#">Facebook</a></li>
                    <li class="list-inline-item me-4"><a href="#">Instagram</a></li>
                     
                    <li class="list-inline-item"><a href="#">Pinterest</a></li>
                  </ul>
                  <h4 class="mb-3">Ready to get started?</h4>
                  <div class="footer-button">
                    <a href="#" class="footer-btn me-1 mb-2"><img src="assets/images/play-store.svg" alt="title"></a>
                    <a href="#" class="footer-btn mb-1"><img src="assets/images/apps-store.svg" alt="title"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
                  <div class="row">
                    <div class="col-6 col-md-6 col-lg-4">
                        <div class="footer-widget mt-3 mt-lg-0">
                              <h5 class="mb-2">Quick links</h5>
                              <ul class="footer-list list-inline m-0">
                                <li><a href="shop.html">Pizza</a></li>
                                <li><a href="shop.html">Burger</a></li>
                                <li><a href="shop.html">Cake</a></li>
                                <li><a href="shop.html">Chocolate</a></li>
                                <li><a href="shop.html">Ice Cream</a></li>
                              </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4">
                        <div class="footer-widget mt-3 mt-lg-0">
                              <h5 class="mb-2">Important Links</h5>
                              <ul class="footer-list list-inline m-0">
                                <li><a href="about.html">About</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact.html">Contact</a></li>
                              </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4">
                        <div class="footer-widget mt-3 mt-lg-0">
                              <h5 class="mb-2">Oppning Hours</h5>
                              <ul class="footer-list list-inline m-0">
                                <li>Sat : 8AM - 5PM</li>
                                <li class="me-0">Sun - Thu : 12PM - 8PM</li>
                                <li>Friday: <span class="text-danger">Closed</span></li>
                              </ul>
                        </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="row mt-3 mt-lg-10  align-items-center">
            <div class="col-md-5 order-md-1">
              <ul class="footer-list text-md-end list-inline m-0">
                
                <li class="list-inline-item me-1 me-lg-4"><a href="privacy-policy.html">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="term.html">Terms of service</a></li>
              </ul>
            </div>
            <div class="col-md-7 order-md-12">
              <p class="copyright-text mt-1 mt-md-0 mb-0">&copy; <span id="spanYear">2021</span> -Petuk. All Rights Reserved by <a href="https://themeix.com/" target="_blank">themeix</a></p>
            </div>
           
          </div>
     </div>
 </footer>
  <!-- gulp:js -->
  <script src="assets/js/build.min.js"></script>
  <!-- endgulp -->
</body>

</html>